<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://www.pubquest.info/">Pubquest</a>
  is a snakes-and-ladders style pub crawl through the Sydney CBD. 
  <br><br>
  For more information on the pubquest, or to organise a new pubquest, check the details on the Contact page.
</p>