<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Stuck? Found a bug? Or want to do it again?<br><br>
  Contact pubquest's creator Michael Dowling:
  <ul><li>Ph: +61 411 460 454</li>
  	<li>Email: mjdowling@outlook.com.au</li>
  	<li>Tweet: <a href="https://twitter.com/mike_j_dowling">@mike_j_dowling</a></li>

</p>