<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  The pubquest is an interactive snakes-and-ladders pub crawl game through the Sydney CBD. <br>
  Check <a href="https://twitter.com/pubquestbot">@pubquestbot's</a> instructions for how to communicate with the pubquest app, and check out the map on the <a href="http://www.pubquest.info">homepage</a> for the course and team rankings.
</p>