<% require 'twitterbot.rb' %>
<% provide(:title, 'Help') %>
<h1>Help</h1><br>
<h2>
  The pubquest is an interactive snakes-and-ladders pub crawl game through the Sydney CBD. </h2><br>
  <div style="margin-left: 50px; margin-right: 75px; text-align: left; font-size: 1.3em">
    <% for num in (1..10) %> 
    <p><b><%= num %></b> - <%= $startmessages[num].to_s %></p>
      <% end %>
</div>