<div class="center hero-unit">
  <h1>Welcome to the Pubquest</h1>

  <h2>
     Submit your drink score to <a href="https://twitter.com/pubquestbot">@pubquestbot's</a> on Twitter in the format<br>"@pubquestbot 4 drinks"
  </h2>

  <div style='width: 800px;'>
  	<div id="map" style='width: 800px; height: 400px;'></div>
  </div>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>